


@keyframes hovering {
    0% {
        background-color: rgb(255, 129, 129);
    }
    12% {
        background-color: rgb(255, 163, 129);
    }
    25% {
        background-color: rgb(255, 255, 129);
    }
    37% {
        background-color: rgb(163, 255, 129);
    }
    50% {
        background-color: rgb(129, 255, 163);
    }
    62% {
        background-color: rgb(129, 255, 255);
    }
    75% {
        background-color: rgb(129, 163, 255);
    }
    87% {
        background-color: rgb(163, 129, 255);
    }
    100% {
        background-color: rgb(255, 129, 129);
    }
}

.c:hover {
    animation: hovering 5s infinite;
    color: rgb(0, 0, 0);
}